
.mud-splitter {
    display: grid;
    width: 100%;
}

.mud-slider-thumb-extension ::-webkit-slider-runnable-track {
    visibility: hidden !important;
}

.mud-slider-thumb-extension ::-moz-range-track {
    visibility: hidden !important;
}

.mud-splitter-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mud-splitter-thumb ::-webkit-slider-thumb {
    visibility: visible !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    height: 20px !important;
    width: 2px !important;
    border: none !important;
    margin-inline-start: -4px !important;
    border-radius: 0 !important;
    background-color: cyan !important;
    cursor: ew-resize !important;
}

.mud-splitter-thumb ::-moz-range-thumb {
    visibility: visible !important;
    appearance: none !important;
    -webkit-appearance: none !important;
    height: 20px !important;
    width: 2px !important;
    border-radius: 0 !important;
    background-color: cyan !important;
}
