
.mud-stepper-header {
    min-height: 62px;
}

.mud-stepper-header-dash {
    min-width: 50px;
    border-bottom: 1px solid;
    height: 50%;
    border-color: var(--mud-palette-text-primary);

    &.mud-stepper-header-dash-completed {
        border-bottom: 2px solid;
        border-color: var(--mud-palette-primary);
    }
}
