@page "/"
@using MudExtensions.Enums

<MudScrollbar Width="2" HoverWidth="8" Color="primary" />

<MudContainer Class="pa-4" Style="min-height: 100vh; background: var(--mud-palette-background-grey);" MaxWidth="MaxWidth.False">
    <div class="d-flex">
        <MudText Class="my-6 d-flex" Style="font-weight: 900" Typo="Typo.h5">The <MudText Style="font-weight: 900" Color="Color.Secondary" Typo="Typo.h5">Secondary</MudText>NeedsFor<MudText Style="font-weight: 900" Color="Color.Primary" Typo="Typo.h5">Mud</MudText></MudText>
    </div>
    
    <MudGrid>
        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="API"
                           Description="A basic API list for all components." />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudAnimate"
                           Description="A revolutionary next generation animate component." />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudLoading"
                           Description="Loading indicator for a whole page or a specific component." />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudLoadingButton"
                           Description="A classic MudButton with loading improvements." />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudPage & MudSection" ComponentName="MudPage"
                           Description="A CSS grid layout component that builds columns and rows, supports ColSpan & RowSpan" />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudPasswordField"
                Description="A specialized textfield that designed for working easily with passwords." />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudScrollbar"
                           Description="Handle all or selected scrollbar styles with a Mud component." />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudSpeedDial"
                           Description="An expandable fab component." />
        </MudItem>

        <MudItem xs="12" sm="6" lg="4" xl="3">
            <ComponentCard Title="MudStepper"
                           Description="A wizard-like steps to control the flow with rich options." />
        </MudItem>
    </MudGrid>
</MudContainer>