@inherits LayoutComponentBase

<style>
    @(_fontPicker?.ImportFontStyleText(font))
</style>

<MudLayout>
    <MudAppBar Class="background-gradient-animation mud-width-full" Style="background: linear-gradient(-45deg, var(--mud-palette-info), var(--mud-palette-tertiary), var(--mud-palette-secondary), var(--mud-palette-primary)); background-size: 400% 400%; position: relative; overflow-x: hidden">
        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="4">
            <MudIconButton Class="white-text" Icon="@Icons.Custom.Brands.MudBlazor" Size="Size.Large" Href="https://mudblazor.com/" Target="_blank" />
            <MudText>CodeBeam MudExtensions</MudText>
        </MudStack>
    </MudAppBar>
    <MudMainContent Class="pt-0">
        <div class="pa-4">
            <MudFontPicker @ref="@_fontPicker" Label="Font Picker" StaticInputText="true" FontChanged="FontChanged" Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true" Clearable="true" MaxItems="null" />
        </div>
        @Body
    </MudMainContent>
</MudLayout>

<style>
    .appbar-style {
        background: var(--mud-palette-secondary) !important;
        transition: background-color .6s;
    }
    
    .appbar-style:hover {
        background: linear-gradient(to right, var(--mud-palette-primary) , var(--mud-palette-secondary)) !important;
    }

    .appbar-style .reverse-color {
        color: var(--mud-palette-primary) !important;
        transition: background-color .6s;
    }

        .appbar-style:hover .reverse-color {
            color: var(--mud-palette-secondary) !important;
        }
</style>


<MudThemeProvider Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />


@code {
    MudFontPicker _fontPicker;
    string font = "Roboto";
    bool open = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            _fontPicker.Font = "Roboto";
            FontChanged();
        }
    }

    MudTheme _theme = new MudTheme()
        {
            LayoutProperties = new LayoutProperties()
            {
                DefaultBorderRadius = "20px"
            },
        };

    private void FontChanged()
    {
        font = _fontPicker?.Font;

        if (font != null)
        {
            _theme = new MudTheme()
                {
                    LayoutProperties = new LayoutProperties()
                    {
                        DefaultBorderRadius = "20px"
                    },

                    Typography = new Typography()
                    {
                        Default = new Default()
                        {
                            FontFamily = new[] { font, "Roboto", "Poppins", "Helvetica", "sans-serif" }
                        },
                    }
                };
        }


        StateHasChanged();
    }
}
