@keyframes background-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.background-gradient-animation {
    animation: background-gradient 18s ease infinite;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 40vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #bfbbbb;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: white;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    inset: calc(40vh + 3.25rem) 0 auto 0.2rem;
}
.backgroundLoadColor{
    background: linear-gradient(-45deg,
    #424242ff,
    #594ae2ff,
    #424242ff,
    #ff4081ff,
    #424242ff);
}
.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}