
<MudCard Class="component-card mx-2 my-8 pa-2 example-card" Elevation="4">
    <MudCardHeader>
        <div>
            <MudText Class="example-card-text" Typo="Typo.h6" Color="Color.Inherit">@Title</MudText>
            <MudText Class="example-card-text" Typo="Typo.body2" Color="Color.Inherit">@Description</MudText>
        </div>
    </MudCardHeader>
    <MudCardContent>
        <div class="pa-2" style="background: var(--mud-palette-background)">
            @ChildContent
        </div>
            
    </MudCardContent>
</MudCard>

@code{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<style>
    .example-card {
        background-color: transparent;
        /*color: var(--mud-palette-secondary);*/
        transition: background-color .6s;
        transition: color 1s;
        cursor: pointer;
    }

        .example-card:hover {
            /*color: white;*/
            background: linear-gradient(to right, var(--mud-palette-primary), var(--mud-palette-secondary));
        }

    .example-card .example-card-text {
        color: var(--mud-palette-secondary);
        transition: color 1s;
    }

        .example-card:hover .example-card-text {
            color: white;
        }
</style>