.mud-date-time-mode-selected {
    background: rgba(0, 0, 0, 0.25) !important;
}

.mud-date-time-toggle {
    color: inherit !important;
    border-color: inherit !important;
}

.mud-date-time-toggle-item {
    color: inherit !important;
    border-color: inherit !important;
}
