@namespace MudExtensions
@inherits MudComponentBase

<div class="@Classname" style="@GetStyle()" @onclick="HandleOnClick">
    @if (Toggled && ToggleContent != null)
    {
        @ToggleContent
    }
    else
    {
        @ChildContent
    }
</div>
