.mud-page {
  display: grid;
  box-sizing: border-box;
  width: 100%; }
  .mud-page.mud-page-height-full {
    min-height: 100vh; }
  .mud-page.mud-page-height-full-without-appbar {
    min-height: calc(100vh - var(--mud-appbar-height)); }
  .mud-page.mud-page-column-2 {
    grid-template-columns: repeat(2, 50%); }
  .mud-page.mud-page-column-3 {
    grid-template-columns: repeat(3, 33.33333%); }
  .mud-page.mud-page-column-4 {
    grid-template-columns: repeat(4, 25%); }
  .mud-page.mud-page-column-5 {
    grid-template-columns: repeat(5, 20%); }
  .mud-page.mud-page-column-6 {
    grid-template-columns: repeat(6, 16.66667%); }
  .mud-page.mud-page-column-7 {
    grid-template-columns: repeat(7, 14.28571%); }
  .mud-page.mud-page-column-8 {
    grid-template-columns: repeat(8, 12.5%); }
  .mud-page.mud-page-column-9 {
    grid-template-columns: repeat(9, 11.11111%); }
  .mud-page.mud-page-column-10 {
    grid-template-columns: repeat(10, 10%); }
  .mud-page.mud-page-column-11 {
    grid-template-columns: repeat(11, 9.09091%); }
  .mud-page.mud-page-column-12 {
    grid-template-columns: repeat(12, 8.33333%); }
  .mud-page.mud-page-row-2 {
    grid-template-rows: repeat(2, 50%); }
  .mud-page.mud-page-row-3 {
    grid-template-rows: repeat(3, 33.33333%); }
  .mud-page.mud-page-row-4 {
    grid-template-rows: repeat(4, 25%); }
  .mud-page.mud-page-row-5 {
    grid-template-rows: repeat(5, 20%); }
  .mud-page.mud-page-row-6 {
    grid-template-rows: repeat(6, 16.66667%); }
  .mud-page.mud-page-row-7 {
    grid-template-rows: repeat(7, 14.28571%); }
  .mud-page.mud-page-row-8 {
    grid-template-rows: repeat(8, 12.5%); }
  .mud-page.mud-page-row-9 {
    grid-template-rows: repeat(9, 11.11111%); }
  .mud-page.mud-page-row-10 {
    grid-template-rows: repeat(10, 10%); }
  .mud-page.mud-page-row-11 {
    grid-template-rows: repeat(11, 9.09091%); }
  .mud-page.mud-page-row-12 {
    grid-template-rows: repeat(12, 8.33333%); }

.mud-section {
  display: inline-grid;
  overflow: auto; }
  .mud-section.mud-section-col-start-1 {
    grid-column-start: 1; }
  .mud-section.mud-section-col-start-2 {
    grid-column-start: 2; }
  .mud-section.mud-section-col-start-3 {
    grid-column-start: 3; }
  .mud-section.mud-section-col-start-4 {
    grid-column-start: 4; }
  .mud-section.mud-section-col-start-5 {
    grid-column-start: 5; }
  .mud-section.mud-section-col-start-6 {
    grid-column-start: 6; }
  .mud-section.mud-section-col-start-7 {
    grid-column-start: 7; }
  .mud-section.mud-section-col-start-8 {
    grid-column-start: 8; }
  .mud-section.mud-section-col-start-9 {
    grid-column-start: 9; }
  .mud-section.mud-section-col-start-10 {
    grid-column-start: 10; }
  .mud-section.mud-section-col-start-11 {
    grid-column-start: 11; }
  .mud-section.mud-section-col-start-12 {
    grid-column-start: 12; }
  .mud-section.mud-section-col-end-1 {
    grid-column-end: 1; }
  .mud-section.mud-section-col-end-2 {
    grid-column-end: 2; }
  .mud-section.mud-section-col-end-3 {
    grid-column-end: 3; }
  .mud-section.mud-section-col-end-4 {
    grid-column-end: 4; }
  .mud-section.mud-section-col-end-5 {
    grid-column-end: 5; }
  .mud-section.mud-section-col-end-6 {
    grid-column-end: 6; }
  .mud-section.mud-section-col-end-7 {
    grid-column-end: 7; }
  .mud-section.mud-section-col-end-8 {
    grid-column-end: 8; }
  .mud-section.mud-section-col-end-9 {
    grid-column-end: 9; }
  .mud-section.mud-section-col-end-10 {
    grid-column-end: 10; }
  .mud-section.mud-section-col-end-11 {
    grid-column-end: 11; }
  .mud-section.mud-section-col-end-12 {
    grid-column-end: 12; }
  .mud-section.mud-section-row-start-1 {
    grid-row-start: 1; }
  .mud-section.mud-section-row-start-2 {
    grid-row-start: 2; }
  .mud-section.mud-section-row-start-3 {
    grid-row-start: 3; }
  .mud-section.mud-section-row-start-4 {
    grid-row-start: 4; }
  .mud-section.mud-section-row-start-5 {
    grid-row-start: 5; }
  .mud-section.mud-section-row-start-6 {
    grid-row-start: 6; }
  .mud-section.mud-section-row-start-7 {
    grid-row-start: 7; }
  .mud-section.mud-section-row-start-8 {
    grid-row-start: 8; }
  .mud-section.mud-section-row-start-9 {
    grid-row-start: 9; }
  .mud-section.mud-section-row-start-10 {
    grid-row-start: 10; }
  .mud-section.mud-section-row-start-11 {
    grid-row-start: 11; }
  .mud-section.mud-section-row-start-12 {
    grid-row-start: 12; }
  .mud-section.mud-section-row-end-1 {
    grid-row-end: 1; }
  .mud-section.mud-section-row-end-2 {
    grid-row-end: 2; }
  .mud-section.mud-section-row-end-3 {
    grid-row-end: 3; }
  .mud-section.mud-section-row-end-4 {
    grid-row-end: 4; }
  .mud-section.mud-section-row-end-5 {
    grid-row-end: 5; }
  .mud-section.mud-section-row-end-6 {
    grid-row-end: 6; }
  .mud-section.mud-section-row-end-7 {
    grid-row-end: 7; }
  .mud-section.mud-section-row-end-8 {
    grid-row-end: 8; }
  .mud-section.mud-section-row-end-9 {
    grid-row-end: 9; }
  .mud-section.mud-section-row-end-10 {
    grid-row-end: 10; }
  .mud-section.mud-section-row-end-11 {
    grid-row-end: 11; }
  .mud-section.mud-section-row-end-12 {
    grid-row-end: 12; }

.mud-stepper-header {
  min-height: 62px;
  border-radius: var(--mud-default-borderradius); }
  .mud-stepper-header.mud-stepper-header-non-linear:hover {
    background-color: var(--mud-palette-action-default-hover); }

.mud-stepper-header-dash {
  min-width: 50px;
  border-bottom: 1px solid;
  border-left: none;
  height: 50%;
  border-color: var(--mud-palette-text-primary); }
  .mud-stepper-header-dash.mud-stepper-header-dash-vertical {
    min-width: unset;
    border-bottom: none;
    border-left: 2px solid;
    border-color: var(--mud-palette-primary); }
    .mud-stepper-header-dash.mud-stepper-header-dash-vertical.dash-tiny {
      height: 20px; }
  .mud-stepper-header-dash.mud-stepper-header-dash-completed {
    border-bottom: 2px solid; }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-primary {
      border-color: var(--mud-palette-primary); }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-secondary {
      border-color: var(--mud-palette-secondary); }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-tertiary {
      border-color: var(--mud-palette-tertiary); }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-info {
      border-color: var(--mud-palette-info); }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-success {
      border-color: var(--mud-palette-success); }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-warning {
      border-color: var(--mud-palette-warning); }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-error {
      border-color: var(--mud-palette-error); }
    .mud-stepper-header-dash.mud-stepper-header-dash-completed.mud-stepper-border-dark {
      border-color: var(--mud-palette-dark); }

.mud-wheel {
  /*height: 240px;*/
  overflow: hidden;
  min-width: 0;
  flex-grow: 1; }

.mud-wheel-item {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--mud-palette-text-secondary);
  border-radius: var(--mud-default-borderradius); }
  .mud-wheel-item.mud-wheel-item:hover {
    background-color: var(--mud-palette-action-default-hover); }
  .mud-wheel-item.wheel-item-closest {
    color: var(--mud-palette-text); }
  .mud-wheel-item.wheel-item-empty {
    min-height: 32px !important; }
    .mud-wheel-item.wheel-item-empty.wheel-item-empty-dense {
      min-height: 24px !important; }
    .mud-wheel-item.wheel-item-empty.wheel-item-empty:hover {
      background-color: unset; }

.middle-item {
  transform: scale(1.2); }

.mud-wheel-border {
  min-height: 2px !important;
  /*background-color: var(--mud-palette-primary);*/ }
  .mud-wheel-border.mud-wheel-border-default {
    background-color: var(--mud-palette-text-primary); }
  .mud-wheel-border.mud-wheel-border-primary {
    background-color: var(--mud-palette-primary); }
  .mud-wheel-border.wheel-border-gradient-primary {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-primary), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.mud-wheel-border-secondary {
    background-color: var(--mud-palette-secondary); }
  .mud-wheel-border.wheel-border-gradient-secondary {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-secondary), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.mud-wheel-border-tertiary {
    background-color: var(--mud-palette-tertiary); }
  .mud-wheel-border.wheel-border-gradient-tertiary {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-tertiary), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.mud-wheel-border-info {
    background-color: var(--mud-palette-info); }
  .mud-wheel-border.wheel-border-gradient-info {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-info), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.mud-wheel-border-success {
    background-color: var(--mud-palette-success); }
  .mud-wheel-border.wheel-border-gradient-success {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-success), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.mud-wheel-border-warning {
    background-color: var(--mud-palette-warning); }
  .mud-wheel-border.wheel-border-gradient-warning {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-warning), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.mud-wheel-border-error {
    background-color: var(--mud-palette-error); }
  .mud-wheel-border.wheel-border-gradient-error {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-error), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.mud-wheel-border-dark {
    background-color: var(--mud-palette-dark); }
  .mud-wheel-border.wheel-border-gradient-dark {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-dark), rgba(255, 0, 0, 0));
    background-color: unset; }
  .mud-wheel-border.wheel-border-gradient-default {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), var(--mud-palette-text-primary), rgba(255, 0, 0, 0));
    background-color: unset; }
