@namespace MudExtensions
@inherits MudComponentBase

<div class="@((MudStepper.ActiveIndex < MudStepper.Steps.Count && MudStepper.Steps[MudStepper.ActiveIndex] == this && MudStepper.ShowResultStep() == false) || (IsResultStep && MudStepper.ShowResultStep()) ? "" : "d-none")">
    @ChildContent
</div>