@namespace MudExtensions
@inherits MudComponentBase

<CascadingValue Value="this" IsFixed="true">
    <MudStack Row="Vertical">
        <MudStack Row="!Vertical" AlignItems="AlignItems.Center">
            @foreach (MudStep step in _steps)
            {
                <MudButton OnClick="@(() => SetActiveIndex(step))">@step.Title abc</MudButton>
                if (_steps.Count - 1 != _steps.IndexOf(step))
                {
                    <span class="mud-header-step-dash flex-grow-1 mx-auto" style="@($"border-color: black")"></span>
                }
                
            }
        </MudStack>
        <MudStack>
@*            @if (ActiveIndex < _steps.Count)
            {
                @ChildContent(_steps[ActiveIndex])
            }*@
            @ChildContent
            <MudText>Content</MudText>
            <MudText>Actions</MudText>
        </MudStack>
    </MudStack>
</CascadingValue>

<style>
    .mud-header-step-dash {
        min-width: 50px;
        border-bottom: 1px solid;
        height: 50%;
    }

</style>
