@namespace MudExtensions
@inherits MudComponentBase

<div class="@((MudStepper.Steps[MudStepper.ActiveIndex] == this && MudStepper.IsAllStepsCompleted() == false) || (MudStepper.IsAllStepsCompleted() && ResultStep) ? "" : "d-none")">
    @ChildContent
</div>