@keyframes background-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.background-gradient-animation {
    animation: background-gradient 18s ease infinite;
}


.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 40vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #bfbbbb;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: white;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    inset: calc(40vh + 3.25rem) 0 auto 0.2rem;
}
.backgroundLoadColor {
    background: linear-gradient(45deg, #E73C7E, #23A6D5, #E73C7E);
    /*background-size: 400%;*/
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "CodeBeam");
}

@keyframes background-animation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 50%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animated-background {
    animation: 1.5s 0.5s background-animation forwards, fade 1s;
}

.animated-background-reverse {
    animation: 1s background-animation reverse, fade 1s reverse;
}

.animated-background-infinite {
    animation: 1s background-animation infinite;
}
