@page "/mudstepper"
@using CodeBeam.MudExtensions.Utilities
@using MudBlazor.Extensions

<ExamplePage Title="MudStepper">
    <ExampleCard Title="Usage" Description="">
        <MudGrid Class="cursor-default">
            <MudItem xs="12" sm="8">
                <MudStepper @ref="_stepper" Linear="_linear" Vertical="_vertical" Color="Color.Primary" Variant="_variant" DisableHeaderText="_disableHeaderText">
                    <ChildContent>
                        <MudStep Title="First Step">The first item's content.</MudStep>
                        <MudStep Title="Second Step" Optional="true">The second item's content.</MudStep>
                        <MudStep Title="Third Step">The third item's content.</MudStep>
                        <MudStep Title="Result Step" ResultStep="true">Your request succesfully sent.</MudStep>
                    </ChildContent>
                    
                    <CompletedContent>
                        <div class="d-flex align-center justify-center" style="height: 200px">
                            <MudText>Your request succesfully sent.</MudText>
                        </div>
                    </CompletedContent>
                </MudStepper>
            </MudItem>

            <MudItem xs="12" sm="4">
                <MudStack Spacing="4">
                    <MudCheckBox @bind-Checked="_linear" Color="Color.Primary" Label="Linear" />
                    <MudCheckBox @bind-Checked="_disableHeaderText" Color="Color.Primary" Label="Disable Header Text" />
                    <MudSwitch @bind-Checked="_vertical" Color="Color.Primary" Label="Vertical" />
                    <MudSelect @bind-Value="_variant" Variant="Variant.Outlined" Label="Variant">
                        @foreach (Variant item in Enum.GetValues<Variant>())
                        {
                            <MudSelectItem Value="item">@item.ToDescriptionString()</MudSelectItem>
                        }
                    </MudSelect>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => _stepper.Reset())">Reset</MudButton>
                </MudStack>
            </MudItem>
        </MudGrid>
    </ExampleCard>
</ExamplePage>

@code {
    MudStepper _stepper;
    bool _vertical;
    bool _linear;
    Variant _variant = Variant.Filled;
    bool _disableHeaderText = false;
}