@namespace MudExtensions
@inherits MudBaseSelectItem
@typeparam T

<div tabindex="0" @attributes="UserAttributes" class="@Classname" @onclick="HandleOnClick" @onclick:stopPropagation="true" style="@Style">
    
    @if (MudCombobox != null && MudCombobox.MultiSelection == true)
    {
        <MudCheckBox Class="me-4" Color="@MudCombobox.Color" Disabled="@Disabled" @bind-Checked="Selected" @onclick="OnClickHandler" Dense="true" />
    }

    @if (ChildContent != null && MudCombobox?.ItemCollection == null)
    {
        @ChildContent
    }
    else
    {
        @DisplayString
    }
</div>
