/*@import '../abstracts/variables';*/
$mud-palette-colors: primary, secondary, tertiary, info, success, warning, error, dark;

.mud-placeholder-extended {
    line-height: unset;
}

.mud-input-adornment-start-extended {

    &:not(.mud-input-text-extended) {
        margin-inline-start: 12px;
    }

    &.mud-input-filled-extended {
        margin-top: 16px;
    }
}

.mud-input-adornment-end-extended {

    &:not(.mud-input-text-extended) {
        margin-inline-end: 12px;
    }
}

.mud-no-start-adornment .mud-input-adornment-start-extended {
    margin-inline-start: 0 !important;
}
