$mud-palette-colors: primary, secondary, tertiary, info, success, warning, error, dark;

.mud-stepper-header {
    min-height: 62px;
    border-radius: var(--mud-default-borderradius);

    &.mud-stepper-header-non-linear:hover {
        background-color: var(--mud-palette-action-default-hover);
    }
}

.mud-stepper-badge{
    z-index: 21;
}
